* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

.seg1 {
  position: relative;
  background-image: url("/images/back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

.promo {
  position: absolute;
  width: 650px;
  height: 140px;
  left: 90px;
  top: 190px;
  background: rgba(45, 45, 45, 0.95);
  border-radius: 30px;
}
.promo p {
  position: absolute;
  width: 547px;
  height: auto;
  left: 60px;
  top: 31px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.header_class {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.44);
  padding: 0px 20px;
}

nav,
.right_side {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
  font-family: sans-serif;
}
nav a:hover {
  background-color: #777777;
  color: #ffffff;
  border-radius: 40px;
}

.carte {
  padding: 15px 5px 15px 40px;
  margin: 0px;
}

.carteSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 100%;
  flex: 1;
  width: 100%;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  padding: 15px;
}

.carteTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #2d2d2d;
  justify-content: center;
}

.prod {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  margin: 10px 0%;
}

.prod img {
  width: 50%;
  border-radius: 10px;
}

.detailsPlat {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 4%;
}

.detailsPlat .platsName {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  justify-content: center;
}

nav {
  display: flex;
  padding: 1.5% 2%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.44);
}
nav img {
  width: 90px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 30px;
  position: relative;
}
.nav-links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}
nav .fa {
  display: none;
}

.detailsPlat .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #393939;
}
.detailsPlat a {
  text-decoration: none;
}

.detailsPlat .price_section {
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.gridProd {
  padding: 0px 20px;
  margin-top: 14%;
  width: 100vw;
  display: flex;
  gap: 10px;
}

.Pro-container {
  display: grid;
  flex: 3;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  /* column-gap: 40px; */
  gap: 15px;
}

.pro {
  padding: 20px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.pro .des {
  margin-top: 15px;
}
.pro i {
  padding: 10px 10px;
  border: 1px solid #cce7d0;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  /* margin: 5px 0; */
  color: #ff2828;
  font-size: 18px;
}

.pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img {
  width: 100%;
  height: 75%;
  border-radius: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: auto;
  margin-top: 14%;
  margin-bottom: 8%;
  gap: 37px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.platsName {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  justify-content: center;
}

.subtitle {
  display: block;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: #696363;
  justify-content: center;
  /* padding-top: 10px; */
}

.price_section {
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #393939;
}

.priceIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.total {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 20px;
  margin: 50px 0%;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#tol {
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  color: #000000;
}

.top_seg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.valider {
  width: 280px;
  height: 50px;
  color: #ffffff;
  border: none;
  background: #ff2828;
  border-radius: 30px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: solid 1px;
  background: #ffffff;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  margin-top: 130px;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #000000;
  overflow: hidden;
  border-radius: 0.25em;
  margin-left: 37%;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #000000;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: white;
}
