* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
  text-decoration: none;
  list-style: none;
}

.seg1 {
  position: relative;
  background-image: url("../images/back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40vh;
}

/* ++++++ */
.navbar {
  z-index: 1;
  background: rgba(0, 0, 0, 0.349);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: white;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}

nav img {
  width: 140px;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 20px;
}

.navbar .nav-links ul li.active a {
  color: red;
  font-weight: 600;
}

.menu-humberger {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 25px;
  padding: 0% 10px;
  cursor: pointer;
  color: white;
}
.nav-links.mobile-menu {
  margin-left: 0;
}

/* ++++++ */
.gridProd {
  padding: 0px 20px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Pro-container {
  display: grid;
  flex: 3;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: space-around;
  gap: 15px;
}

.Pro-container::-webkit-scrollbar {
  display: none;
}

.carteSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 94vh;
  flex: 1;
  width: 100%;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  padding: 15px 10px;
}

.carteTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #2d2d2d;
  text-align: center;
  align-items: center;
  height: 40px;
}

.carteProds {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  padding: 0% 10px;
}

.prod {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  margin: 10px 0%;
}

.prod img {
  width: 50%;
  border-radius: 10px;
}
.price_section a {
  cursor: pointer;
}
.detailsPlat {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 4%;
}

.detailsPlat .platsName {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  justify-content: center;
}

.detailsPlat .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #393939;
}
.detailsPlat a {
  text-decoration: none;
  font-size: 14px;
}

.detailsPlat .price_section {
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.pro {
  padding: 20px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.pro .des {
  margin-top: 15px;
}
.pro i {
  padding: 10px 10px;
  border: 1px solid #cce7d0;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  /* margin: 5px 0; */
  color: #ff2828;
  font-size: 18px;
}

.pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

.pro img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: auto;
  margin-top: 14%;
  margin-bottom: 8%;
  gap: 37px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.platsName {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  justify-content: center;
}

.subtitle {
  display: block;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: #696363;
  justify-content: center;
}

.price_section {
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #393939;
}

.priceIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.total {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  padding: 10px 0px;
}

#tol {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
}

.top_seg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.valider {
  padding: 10px 30px;
  height: 40px;
  color: #ffffff;
  border: none;
  background: #ff2828;
  border-radius: 30px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.main_select {
  display: flex;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: solid 2px;
  background: #ffffff;

  flex: 1;
  padding: 0 0.5em;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
  display: none;
}

.select {
  margin-top: 40px;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #000000;
  overflow: hidden;
  border-radius: 0.25em;
  color: #ffffff;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #000000;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: white;
}
.price::after {
  content: " MAD";
}
.qtty {
  font-size: 14px;
}
