* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
}

.seg1 {
  background-image: url("../images/contact_sushi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40vh;
}

/* ++++++ */
.navbar {
  z-index: 1;
  position: absolute;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.349);
}

.navbar a {
  color: white;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 20px;
}

.navbar .nav-links ul li.active a {
  color: red;
  font-weight: 600;
}

.menu-humberger {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 25px;
  padding: 0% 10px;
  cursor: pointer;
  color: white;
}

.nav-links.mobile-menu {
  margin-left: 0;
}
/* ++++++ */
.Container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
  margin-bottom: 15%;
  gap: 30px;
  justify-content: space-between;
}

.btn-group {
  top: 40px;
}

.btn-group .btn-primary {
  background: #ff2828;
  border-radius: 30px;
  color: #ffffff;
  width: 151px;
  height: 40px;
  border: #ffffff;
}

.contactForm {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 14px 14px #f0ebeb;
  /* width: 600px; */
  width: auto;
  align-items: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.row {
  margin: 8px 0;
}
.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.left_side {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: auto;
}

.Location {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.email-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.phone-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.title {
  /* width: 144px; */
  color: rgba(54, 54, 54, 1);
  /* font-family: Poppins;
    font-weight: 600; */
  /* font-size: 22px; */
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  flex-wrap: wrap;
  font-size: 22px;
  color: #2d2d2d;
}

.subtitle {
  /* width: 450px; */
  width: auto;
  color: #5a5959;
  font-family: Poppins;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  flex-wrap: wrap;
}

.down {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.up {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.horClass {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.horaire {
  color: rgba(54, 54, 54, 1);
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #2d2d2d;
}

.hor_sub {
  color: #5a5959;
  font-family: Poppins;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}
.hor_per {
  color: #9c9b9b;
  font-family: Poppins;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}
