.info_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 30px 0;
  position: relative;
}

.info_heading::before {
  content: "";
  width: 40px;
  height: 5px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 5px;
  background: linear-gradient(180deg, #ff2828 0%, #e64d38 100%);
}

.info a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  color: #2d2d2d;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.footer_icons {
  width: 14px;
  color: #2d2d2d;
}


.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 700;
}
.footer p {
  font-size: 11px;
}
.icons .fa {
  color: black;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

hr {
  margin: 10% 30% 0% 30%;
  background: #424242;
}
