* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.seg1 {
  background-image: url("/images/sushies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

body {
  font-family: Poppins;
}

.description {
  position: relative;
  /* justify-self: center;
  justify-content: center; */
  top: 30%;
  left: 60px;
  color: #fff;
  width: calc(100% - 60px);
}

.description h2 {
  font-size: 48px;
}
.description p {
  color: #f6f6f6;
}

nav {
  display: flex;
  padding: 1.5% 2%;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.44);
  height: 80px;
}

nav img {
  width: 140px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 30px;
  position: relative;
}
.nav-links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}
nav .fa {
  display: none;
}

nav a:hover {
  background-color: #777777;
  color: #ffffff;
  border-radius: 40px;
  padding: 10px 15px;
}

.chefs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
  gap: 40px;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 37px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  /* left: 2px;
  top: 200px; */
}

.plat1 {
  width: 240px;
  height: 320px;
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #696363;
}

.imagePlat {
  width: 240px;
  height: 70%;
  background: #ffffff;
  box-shadow: 0px 4px 4px 1px rgba(117, 116, 116, 0.22);
  border-radius: 10px;
  text-align: center;
}

.detailsPlat {
  padding-top: 10px;
}

.platsName {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  justify-content: center;
}
.subtitle {
  display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #696363;
  justify-content: center;
}

.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
  height: auto;
  padding: 20px 20px;
  margin: 0px 0 100px;
}

.crlCard {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: auto;
  padding: 20px;
}

.crlCard h2 {
  font-size: 16px;
  text-align: center;
  padding-top: 25px;
}

.crlCard p {
  font-size: 10px;
  text-align: center;
  color: #696363;
}

.circle {
  border-radius: 100%;
  background-color: #ffffff;
  padding: 60px 70px;
  font-size: 45px;
  border: 1px solid rgba(120, 120, 120, 0.632);
  box-shadow: 0px 0px 25px 0px rgba(120, 120, 120, 0.932);
}

.circle.ONE {
  color: #b47264;
}

.circle.TWO {
  color: chocolate;
}

.circle.THREE {
  color: crimson;
}
