@media (max-width: 700px) {
  .seg1 {
    height: 30vh;
  }
  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    font-size: 12px;
  }
  .bouton {
    padding: 9px 20px;
    font-size: 11px;
  }

  /* ++++++ */

  .navbar .logo {
    position: absolute;
    top: 10px;
    left: 50px;
  }
  .navbar .menu-humberger {
    display: block;
    z-index: 90;
  }
  .nav-links {
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: #2d2d2da6;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .titleBar {
    display: block;
    position: absolute;
    width: 126px;
    height: 40px;
    left: calc(50% - 63px);
    top: 50%;
    text-align: center;
    background: rgba(158, 158, 158, 0.6);
    border-radius: 8px;
    color: white;
  }
  .hr {
    position: absolute;
    height: 2.5px;
    left: calc(50% - 75px);
    top: 51%;
    width: 60%;
    background: #ff2828;
    border-radius: 2px;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 20px 0;
    font-size: 1.2rem;
  }

  .gridProd {
    gap: 50px;
  }

  .pro i {
    font-size: 14px;
    padding: 8px 8px;
  }

  .detailsPlat {
    justify-content: space-between;
  }

  .detailsPlat .price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #393939;
  }

  .detailsPlat .price_section {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .detailsPlat .platsName {
    font-size: 12px;
  }

  .products {
    margin-top: 120px;
    grid-template-columns: repeat(1, auto);
  }

  .prod {
    height: 90px;
  }

  .platsName {
    font-size: 16px;
  }

  .subtitle {
    font-size: 10px;
  }

  .total {
    gap: 18px;
    margin: 20px 0;
  }
  .btns {
    gap: 16px;
  }

  #tol {
    font-size: 20px;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .detailsPlat {
    justify-content: space-between;
  }

  .detailsPlat .price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #393939;
  }

  .detailsPlat .price_section {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .detailsPlat .platsName {
    font-size: 12px;
  }

  .products {
    margin-top: 120px;
    grid-template-columns: repeat(1, auto);
  }

  .prod {
    height: 100px;
  }

  .platsName {
    font-size: 18px;
  }

  .subtitle {
    font-size: 12px;
  }

  .price {
    font-size: 16px;
  }

  .total {
    gap: 18px;
    /* margin: 20% 10%; */
  }
  .btns {
    gap: 16px;
  }

  /* #tol {
    font-size: 24px;
  } */
}
