/*  Mobile  */
@media (max-width: 700px) {

  
  .nav-links ul li {
    display: block;
    padding-bottom: 12%;
  }

  .nav-links ul li:first-child {
    padding-top: 50px;
  }

  .nav-links {
    position: absolute;
    background: rgba(0, 0, 0, 0.44);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 0;
    transition: 1s;
  }

  nav img {
    width: 100px;
  }

  nav .fa {
    display: block;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
  }

  nav .fa-times {
    text-align: left;
  }
  .Container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
    gap: 100px;
    justify-content: space-between;
  }

  .down {
    gap: 20px;
  }

  .btn-group .btn-primary {
    width: 120px;
    height: 35px;
  }

  .contactForm {
    width: 100%;
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .row {
    margin: 8px 0;
  }
  .message {
    width: auto;
  }

  textarea {
    width: auto;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .title {
    font-size: 20px;
  }
  
  .subtitle {
    font-size: 14px;
  }
  

  
 
  
  .horaire {
    font-size: 20px;
  }
  
  .hor_sub {
    font-size: 14px;
  }
  .hor_per {
    font-size: 14px;
  }
  
}

/* Small Screens */

@media (min-width: 820px) and (max-width: 902px) {


  .left_side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;
    width: auto;
  }
  .contactForm {
    width: 100%;
  }
  .form-row {
    /* display: flex; */
    width: 100%;
  }
  form {
    width: 100%;
  }

  input {
    width: 100%;
  }

  
}

