/*  Mobile  */
@media (max-width: 700px) {
  .seg1 {
    height: 180px;
  }

  .header_class {
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .header_class img {
    height: 50px;
  }

  .menu {
    color: #ffffff;
    display: flex;
    text-decoration: none;
  }
  nav,
  .right_side {
    display: none;
  }
  .Container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
    gap: 30px;
    justify-content: space-between;
  }

  .btn-group {
    top: 40px;
  }

  .btn-group .btn-primary {
    background: #ff2828;
    border-radius: 30px;
    color: #ffffff;
    width: 151px;
    height: 40px;
    border: #ffffff;
  }

  .contactForm {
    width: 100%;
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .row {
    margin: 8px 0;
  }
  .message {
    width: auto;
  }

  textarea {
    width: auto;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 80px;
    padding: 30px 0px 12% 0px;
  }

  .IconCard {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #2d2d2d;
    width: 100%;
  }
  .IconCard i {
    font-size: 50px;
  }
}

/* Small Screens */

@media (min-width: 820px) and (max-width: 902px) {
  .menu {
    display: none;
  }

  .left_side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;
    width: auto;
  }
  .contactForm {
    width: 100%;
  }
  .form-row {
    /* display: flex; */
    width: 100%;
  }
  form {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 100px;
    padding: 40px 0px 12% 0px;
  }

  .IconCard i {
    font-size: 80px;
  }
}

/* Medium */

@media (min-width: 901px) and (max-width: 1200px) {

  .bottom {
    display: flex;

    width: auto;
    height: auto;
    gap: 100px;
    padding: 4px 0px 8% 0px;
  }

  .IconCard {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 60px;
    padding: 30px 60px;
    height: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    align-items: center;
    text-align: center;
    color: #2d2d2d;
  }
  .IconCard i {
    font-size: 65px;
  }
}
