/*  Mobile  */
@media (max-width: 700px) {
  .seg1 {
    height: 300px;
  }
  /* .menu {
    justify-content: center;
  } */

  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    font-size: 12px;
  }
  .bouton {
    padding: 9px 20px;
    font-size: 11px;
  }
  .nav-links ul li {
    display: block;
    padding-bottom: 12%;
  }
  .nav-links ul li:first-child {
    padding-top: 50px;
  }
  .nav-links {
    position: absolute;
    background: rgba(0, 0, 0, 0.44);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 0;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
  }
  nav .fa-times {
    text-align: left;
  }

  .chefs {
    display: flex;
    flex-direction: column;
  }
  .collection {
    margin: 10% auto;
  }

  .collec {
    flex-wrap: wrap;
    width: 80%;
    height: 240px;
    font-size: 30px;
  }
  .image_collection {
    width: 80%;
    height: 240px;
    background-size: cover;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 80px;
    padding: 30px 0px 12% 0px;
  }

  .IconCard {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #2d2d2d;
    width: 100%;
  }
  .IconCard i {
    font-size: 50px;
  }
}

/* Small Screens */

@media (min-width: 701px) and (max-width: 900px) {
  .seg1 {
    height: 360px;
  }

  .header_class {
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .header_class img {
    height: 60px;
  }

  .menu {
    color: #ffffff;
    display: flex;
    text-decoration: none;
  }
  nav,
  .right_side {
    display: none;
  }

  .chefs {
    display: flex;
    flex-direction: column;
  }

  .collec {
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    font-size: 40px;
  }

  .image_collection {
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 100px;
    padding: 40px 0px 12% 0px;
  }

  .IconCard i {
    font-size: 80px;
  }
}

/* Medium Screens */
@media (min-width: 901px) and (max-width: 1200px) {
  .chefs {
    display: flex;
    flex-direction: column;
  }

  .bottom {
    display: flex;
    width: auto;
    height: auto;
    gap: 100px;
    padding: 4px 0px 8% 0px;
  }

  .IconCard {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 60px;
    padding: 30px 60px;
    height: auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    align-items: center;
    text-align: center;
    color: #2d2d2d;
  }
  .IconCard i {
    font-size: 65px;
  }
}
