/*  Mobile  */
@media (max-width: 700px) {
  .seg1 {
    height: 50vh;
  }

  .text-box h1 {
    font-size: 40px;
  }

  .text-box p {
    font-size: 12px;
  }

  .bouton {
    padding: 9px 20px;
    font-size: 11px;
  }

  .nav-links ul li {
    display: block;
    padding-bottom: 12%;
  }

  .nav-links ul li:first-child {
    padding-top: 50px;
  }

  .nav-links {
    position: absolute;
    background: rgba(0, 0, 0, 0.44);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    box-sizing: border-box;
    border: 1px solid black;
    border-top: 0;
    transition: 1s;
  }

  nav img {
    width: 100px;
  }

  nav .fa {
    display: block;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
  }

  nav .fa-times {
    text-align: left;
  }

  .description {
    top: 12%;
    left: 30px;
    width: calc(100% - 40px);
  }

  .description h2 {
    font-size: 28px;
  }

  .chefs {
    display: flex;
    flex-direction: column;
  }

  .collection {
    margin: 10% auto;
  }
  .title {
    font-size: 30px;
    text-align: center;
  }
}


/* Small Screens */

@media (min-width: 701px) and (max-width: 900px) {
 

  nav {
    display: flex;
    padding: 1.5% 2%;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.44);
  }
  nav img {
    width: 90px;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
  }
  .nav-links ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
  }
  nav .fa {
    display: none;
  }

  nav a:hover {
    background-color: #777777;
    color: #ffffff;
    border-radius: 40px;
    padding: 10px 15px;
  }

  .chefs {
    display: flex;
    flex-direction: column;
  }
}

